@model PaginatedList<BlogPost>

@{
    ViewData["Title"] = "All Blogs";
}

<h1><i class="fas fa-blog"></i> All Blogs</h1>

@if (TempData["isDeleted"] != null && (bool)TempData["isDeleted"])
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fas fa-trash-alt"></i> <strong>Success!</strong> Your item has been deleted.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" method="get" class="form-inline mt-1">
            <div class="form-group mb-2">
                <label class="sr-only">Search</label>
                <div class="input-group custom-search-box">
                    <input type="text" name="searchTerm" class="form-control" placeholder="Search..." value="@ViewBag.SearchTerm" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var blogPost in Model.Items)
    {
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title"><i class="fas fa-heading"></i> @blogPost.Title</h3>
                    <div class="card-text">@Html.Raw(TruncateText(blogPost.Content, 200))</div>
                </div>
                <div class="card-footer bg-secondary text-light">
                    <i class="far fa-calendar"></i> Posted: @blogPost.CreatedAt.ToString("MMM dd, yyyy")
                </div>
                <div class="card-body">
                    <a href="@Url.Action("Details","Blog", new { id = blogPost.Id })" class="btn btn-primary">
                        <i class="fas fa-arrow-circle-right"></i> Read More
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <nav>
            <ul class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { page = Model.PageIndex - 1, searchTerm = ViewBag.SearchTerm })"><i class="fas fa-chevron-left"></i> Previous</a></li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")"><a class="page-link" href="@Url.Action("Index", new { page = i, searchTerm = ViewBag.SearchTerm })">@i</a></li>
                }

                @if (Model.HasNextPage)
                {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { page = Model.PageIndex + 1, searchTerm = ViewBag.SearchTerm })">Next <i class="fas fa-chevron-right"></i></a></li>
                }
            </ul>
        </nav>
    </div>
</div>

@functions {
    string TruncateText(string text, int maxLength)
    {
        if (text.Length > maxLength)
        {
            return text.Substring(0, maxLength) + "...";
        }

        return text;
    }
}
