@using System.Security.Claims;
@model Question

@{
    ViewData["Title"] = "Question Details";
}

<h1>Question Details</h1>

@if (TempData["isApproved"] != null && (bool)TempData["isApproved"])
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fas fa-check-circle"></i> <strong>Success!</strong> Approved has been Successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["isCreated"] != null && (bool)TempData["isCreated"])
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fas fa-check-circle"></i> <strong>Success!</strong> Your item has been created.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["isEdited"] != null && (bool)TempData["isEdited"])
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <i class="fas fa-pencil-alt"></i> <strong>Success!</strong> Your item has been edited.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title"><i class="fas fa-question-circle"></i> @Model.Title</h5>
        <p class="card-text"><i class="fas fa-file-alt"></i> @Model.Content</p>

        <p class="card-text">
            <small class="text-muted"><i class="fas fa-user"></i> Posted By: @Model.User.UserName</small>
            <br />
            <small class="text-muted"><i class="far fa-calendar"></i> Posted On: @Model.CreationDate.ToString("yyyy-MM-dd")</small>
        </p>

        <div class="vote-buttons">
            @if (User.Identity.IsAuthenticated)
            {
                var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                var votedQuestion = Model.QuestionVotes.FirstOrDefault(v => v.UserId == userId);

                if (votedQuestion == null)
                {
                    <form asp-action="UpvoteQuestion" asp-route-questionId="@Model.Id">
                        <button type="submit" class="btn btn-outline-success"><i class="fas fa-arrow-up"></i> Upvote (@Model.Votes)</button>
                    </form>

                    <form asp-action="DownvoteQuestion" asp-route-questionId="@Model.Id">
                        <button type="submit" class="btn btn-outline-danger"><i class="fas fa-arrow-down"></i> Downvote (@Model.Votes)</button>
                    </form>
                }
                else
                {
                    var isUpvote = votedQuestion.IsUpvote;
                    var voteText = isUpvote ? "Upvoted" : "Downvoted";
                    var buttonColor = isUpvote ? "btn-success" : "btn-danger";
                    var buttonIcon = isUpvote ? "fas fa-arrow-up" : "fas fa-arrow-down";

                    <button type="button" class="btn @buttonColor" disabled><i class="@buttonIcon"></i> @voteText (@Model.Votes)</button>
                }
            }
        </div>
    </div>
</div>

@if (Model.Answers != null && Model.Answers.Any())
{
    <h2><i class="fas fa-comments"></i> Answers</h2>
    <div class="row">
        @foreach (var answer in Model.Answers)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title"><i class="far fa-comment"></i> Answer</h4>
                        <p class="card-text">@TruncateText(answer.Content, 50)</p>
                        <div class="card-footer">
                            <div><i class="far fa-calendar"></i> Creation Date: @answer.CreationDate</div>
                            <div><i class="fas fa-thumbs-up"></i> Votes: @answer.Votes</div>
                            <div><i class="fas fa-check"></i> Is Approved: @answer.IsApproved</div>
                            <a asp-action="Details" asp-controller="Answer" asp-route-id="@answer.Id" class="btn btn-primary"><i class="far fa-eye"></i> View Answer</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No answers available.</p>
}

@if (User.Identity.IsAuthenticated)
{
    <div class="mt-4">
        <a href="@Url.Action("Create", "Answer", new { questionId = Model.Id })" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Answer</a>

        @if (User.IsInRole("Admin") && !Model.IsApproved)
        {
            <form method="post" asp-action="ApproveQuestion">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <button type="submit" class="btn btn-success m-1"><i class="fas fa-check"></i> Approve</button>
            </form>
        }
        @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || Model.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier)))
        {
            <a href="@Url.Action("Edit", "QnA", new { id = Model.Id })" class="btn btn-secondary"><i class="fas fa-edit"></i> Edit</a>
            <a href="@Url.Action("Delete", "QnA", new { id = Model.Id })" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
        }
    </div>
}

@functions {
    string TruncateText(string text, int maxLength)
    {
        if (text.Length <= maxLength)
        {
            return text;
        }
        else
        {
            return text.Substring(0, maxLength) + "...";
        }
    }
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
}
