@model List<Applicant>

<h2>Applicant List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"><i class="fas fa-heading"></i> Title</th>
            <th scope="col"><i class="fas fa-envelope"></i> Email</th>
            <th scope="col"><i class="fas fa-phone"></i> Phone</th>
            <th scope="col"><i class="fas fa-calendar-alt"></i> Applied Date</th>
            <th scope="col"><i class="fas fa-file"></i> CV/Resume</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model)
        {
            <tr>
                <td>@applicant.Name</td>
                <td>@applicant.Email</td>
                <td>@applicant.Phone</td>
                <td>@applicant.AppliedDate.ToString("yyyy-MM-dd")</td>
                <td>
                    @if (!string.IsNullOrEmpty(applicant.Resume.FilePath))
                    {
                        <a href="@Url.Action("DownloadResume", "Job", new { resumeId = applicant.Resume.Id })" target="_blank" class="btn btn-link">
                            <i class="fas fa-file-pdf"></i> Open CV/Resume
                        </a>
                    }
                    else
                    {
                        <span class="text-muted"><i class="fas fa-exclamation-circle"></i> No CV/Resume</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
